/*------------------------------------
BASE
------------------------------------*/
html {
    box-sizing: border-box;
}


*,*:before,*:after {
    box-sizing: inherit;
}


/*------------------------------------
ELEMENT
------------------------------------*/
body{
    font-family: "Josefin Sans", "Roboto";
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    
}
p{
    font: 400 1.125rem/1.5556em "Roboto" ;
    margin: 0;
}

li{
    list-style: none;
}


/*------------------------------------
COMPONENT
------------------------------------*/

/* header */
header{
border-top: 4px solid #E25254;
}
header .logo{
    font: 400 2.625rem "Josefin Sans";
    color: #000;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0;
    margin: 0;
}

header nav li{
    font: 400 1.125rem "Roboto" ;
   margin: 22px 0;
}
header nav li a{
    color: #474747;
}


/* section hero */

.hero{
    background-image: url(../images/banniere.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero .wrapper{
    display: flex;
    justify-content: end;
}
.action{
    background: rgba(226, 82, 84, 0.9);
    display: flex;
    justify-content: end;
   
    flex-direction: column; 
    gap: 22px;
    padding: 50px 30px;
    margin: 45px 0;
    max-width: 50%;
}
.action p{
color: #fff;
}
.action h1{
    font: 700 3rem/1.1458em "Roboto" ;
    color: #fff;
    margin: 0;
}
.action a{
    align-self: flex-end;
    background: #C0392B;
    font: 400 1.125rem/1.5556em "Roboto" ;
    color: #fff;
    padding: 6px 20px;
}